name: Python Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - '3.12'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          # Instalamos explícitamente las librerías necesarias por si falla el requirements.txt
          pip install pytest flask flask-cors
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Run tests
        # Usamos python -m pytest para asegurar que usa el python instalado arriba
        run: python -m pytest